<section class="contacts" id="contactUs">
  <div class="container contacts__wrapper">
    <div class="contacts__img_wrapper">
      <img src="./img/contact-section.jpg" alt="nails" class="contact__img" />
    </div>
    <div class="contacts-form__wrapper">
      <h2 class="contact-form__title">Зв'яжіться з нами</h2>
      <p class="contact-form__text">
        зателефонуйте нам або залиште свій контактний номер
      </p>
      <p class="contact-form__text contact-form__text_fix">8 (050) 300 2806</p>

      <form name="callback" autocomplete="on" novalidate class="callback__form">
        <input
          type="tel"
          name="phone"
          placeholder="Введіть свій телефон"
          class="form_input"
        />
        <button type="submit" class="form_submite">Subscribe</button>
      </form>
    </div>
  </div>
</section>
