<footer class="footer">
  <div class="container footer__wrapper">
    <p class="header__logo-sec header__logo-sec-fix">nails.tatty.od</p>
    <div class="footer__menue">
      <p class="footer__title">Menu</p>
      <ul class="footer__navlist">
        <li class="footer__listitem"><a href="#values">Цінності</a></li>
        <li class="footer__listitem"><a href="#story">Наша історія</a></li>
        <li class="footer__listitem"><a href="#priceForWork">Ціни</a></li>
        <li class="footer__listitem">
          <a href="#contactUs">Зв'яжись з нами</a>
        </li>
      </ul>
    </div>
    <div class="footer__contacts">
      <p class="footer__title footer__title-adapt">Contacts</p>
      <ul class="footer__contacts-list">
        <li class="footer__contacts-item">
          <a href="tel:+80503002806" class="footer__contacts-item"
            >8 (050) 300 2806</a
          >
        </li>
        <li class="footer__contacts-item">
          Вулиця Якова Бреуса, 63/1, Одеса, Одеська область, 65000
        </li>
      </ul>
    </div>
  </div>
</footer>
