<header class="header">
  <div class="container header__container">
    <p class="header__logo-sec">nails.tatty.od</p>
    <div class="header__wrapper">
      <nav class="header__nav">
        <ul class="header__navlist">
          <li class="header__listitem">
            <a class="header__link" href="#values">Цінності</a>
          </li>
          <li class="header__listitem">
            <a class="header__link" href="#story">Наша історія</a>
          </li>
          <li class="header__listitem">
            <a class="header__link" href="#priceForWork">Ціни</a>
          </li>
          <li class="header__listitem">
            <a class="header__link" href="#contactUs">Зв'яжись з нами</a>
          </li>
        </ul>
      </nav>
      <button class="header__button">Приклади робіт</button>
    </div>
  </div>
</header>
