<section class="hero" id="values">
  <div class="container hero__wrapper">
    <h1 class="hero__logo">Our services</h1>
    <ul class="hero__list">
      <li class="hero__item">
        <svg class="hero__svg" width="125" height="113">
          <use href="./img/symbol-defs.svg#icon-first-img"></use>
        </svg>
        <div class="item__wrapper">
          <p class="hero__title">Доглядаємо нігті</p>
          <p class="hero__text">
            Професійний догляд нігтів для підтримки їх сили та здоров'я.
          </p>
        </div>
      </li>
      <li class="hero__item">
        <svg class="hero__svg" width="143" height="163">
          <use href="./img/symbol-defs.svg#icon-second-img"></use>
        </svg>
        <div class="item__wrapper">
          <p class="hero__title">Забезпечуємо красу</p>
          <p class="hero__text">Якісні послуги манікюру та педикюру</p>
        </div>
      </li>
      <li class="hero__item">
        <svg class="hero__svg" width="112" height="122">
          <use href="./img/symbol-defs.svg#icon-third-img"></use>
        </svg>
        <div class="item__wrapper">
          <p class="hero__title">Слідкуємо за трендами</p>
          <p class="hero__text">
            Використовуємо в роботі новітні дизайни, які відповіадють сучасній
            моді
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
