<section class="our-section" id="story">
  <div class="container our-section__wrapper">
    <img
      src="./img/oursection-img.jpg"
      class="our-section__second-img"
      height="704"
      alt="nails"
    />

    <div class="img-fix">
      <img
        src="./img/oursection-img-two.jpg"
        class="our-section__fourth-img"
        height="438"
        width="373"
        alt="nails"
      />
    </div>

    <div class="our-section__textWrapper">
      <h2 class="our-section__title">Про нас</h2>
      <p class="our-section__text">
        NAILS.TATTY.OD - не просто черговий салон. Це місце краси і вашого
        спокою за результат, де якість послуг є філософією.
      </p>
      <p class="our-section__text_mod">Завжди тактовні</p>
      <p class="our-section__text">
        В салоні атмосфера повної довіри та співпраці з клієнтом, який може
        поділитись своїми побажання.
      </p>
      <p class="our-section__text_mod">Турбуємось про клієнтів</p>
      <p class="our-section__text">
        В роботі ми використовуємо лише професійний матеріал та інструменти, які
        гарантують безпеку та здоров'є клієнтів.
      </p>
    </div>
  </div>
</section>
