<section class="price-section" id="priceForWork">
  <div class="container price-section__wrapper">
    <div class="price-section__box">
      <h2 class="price-section__title">Цінова політика нашого салону</h2>
      <ul class="price-section__list">
        <li class="price-section__item">
          <div class="flex-box-fix">
            <p class="price-section__service">Манікюр класичний</p>
            <p class="price-section__service-info">
              Базова процедура з догляду за руками, що завершується фарбуванням
              нігтів кондиціонером або лаком
            </p>
          </div>

          <p class="price-section__price">350 грн.</p>
        </li>
        <li class="price-section__item">
          <div class="flex-box-fix">
            <p class="price-section__service">Манікюр апаратний</p>
            <p class="price-section__service-info">
              Cучасна та швидка технологія зняття штучних покриттів нігтів,
              видалення кутикули, формування красивої форми нігтьової пластини
            </p>
          </div>

          <p class="price-section__price">400 грн.</p>
        </li>
        <li class="price-section__item">
          <div class="flex-box-fix">
            <p class="price-section__service">Покриття гель лаком</p>
            <p class="price-section__service-info">
              Популярна та ефективна послуга, яка дозволяє надовго зберегти
              ідеальний вигляд нігтьових пластин
            </p>
          </div>

          <p class="price-section__price">200 грн.</p>
        </li>
        <li class="price-section__item">
          <div class="flex-box-fix">
            <p class="price-section__service">Нарощування нігтів</p>
            <p class="price-section__service-info">
              Процес штучного збільшення довжини нігтя з метою виправлення
              дефектів нігтьової пластини (розшарування, слабкість, ламкість
              тощо)
            </p>
          </div>

          <p class="price-section__price">550 грн.</p>
        </li>
        <li class="price-section__item">
          <div class="flex-box-fix">
            <p class="price-section__service">Педикюр класичний</p>
            <p class="price-section__service-info">
              Процедура, яка включає видалення кутикули, обробку нігтів ніг і
              масаж стоп
            </p>
          </div>

          <p class="price-section__price">400 грн.</p>
        </li>
      </ul>
    </div>
    <div class="price-img__box">
      <img src="./img/price-img.jpg" class="price-section__img" alt="example" />
    </div>
  </div>
</section>
