.promo {
  height: 900px;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;

  background-size: 100% 100%;
  position: relative;
}

@media (max-width: 980px) {
  .promo {
    display: none;
  }
}

.img__board {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.pormo__img-wrapper {
  width: 388px;
  height: 450px;
}
.promo__img {
  width: 100%;
  height: 100%;
}
.promo__wrapper {
  width: 692px;
  height: 336px;
  background-color: var(--main-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.promo__text {
  color: var(--main-color);

  text-align: center;

  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.promo__svg {
  width: 48px;
  height: 47px;
  fill: var(--main-color);
}
